doctype html
head
  meta(charset="utf-8")
  title Add songs

  meta(name="viewport", content="width=device-width, initial-scale=1")

  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700")
  link(rel="stylesheet", href="/css/common.css")
  link(rel="stylesheet", href="/css/header.css")
  link(rel="stylesheet", href="/css/add-songs.css")
body
  header
      nav
        h1 not iTunes
        ul
          li: a(href="/") Playlists
          li: a(href="/playlist") + Add playlist
          li.active + Add songs

        a(href="/signout") Sign out

  main
    label(for="file-selector") Select Files
      input#file-selector(type="file", accept=".mp3")

    #songs

    button#save-songs(disabled) Save

  dialog#edit-song
    h3 Edit song
    form(action="/")
      input(type="text", name="title", placeholder="Song title")
      input(type="text", name="author", placeholder="Author")
    div
      button.close-dialog Cancel
      button.confirm-dialog Save



  script(src="/js/add-songs.js")