doctype html
head
  meta(charset="utf-8")
  title NotITunes

  link(rel="stylesheet", href="/css/main.css")
body
  h1= headline

  form(action=url, method="POST")
    label Username: 
      input(name="username", type="text", required)
    br
    label Password:
      input(name="password", type="password", required)
    br
    button= submitText

  p: a(href=alterPath)= alterText