doctype html
head
  meta(charset="utf-8")
  title NotITunes

  link(rel="stylesheet", href="/css/main.css")
body
  h1 Create new playlist
  form#add-playlist(action="/playlist", method="POST")
    label Playlist title*
      input(type="text", name="pl-title", required)

    label Description*
      input(type="text", name="pl-description", required)

    fieldset
      legend Add cover

      input#url(type="radio", name="cover-type", value="url", checked)
      label(for="url") URL

      input#file(type="radio", name="cover-type", value="file")
      label(for="file") Upload

      br
      input.cover(type="text", name="cover-url")
      input.cover(type="file", name="cover-file")
    button Add Playlist

  script(src="/js/create-playlist.js")