body {
  background: var(--primary-background);
  color: var(--primary-text-dark);
}

main {
  width: 600px;
  max-width: calc(100vw - 20px);
  margin: 20px auto 0;
  box-sizing: border-box;
  background: var(--primary-light);
  box-shadow: var(--material-shadow);
  padding: 20px;
}

#songs > div {
  display: grid;
  grid-template-columns: 24px 3fr 2fr 2fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

#edit-all,
#songs button {
  grid-column-start: -1;
}