* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: arial, sans-serif;
  text-transform: uppercase;
}

#add-playlist {
  width: 90vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #cfe1ea;
  font-size: 16px;
}

#add-playlist > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#add-playlist > label input {
  width: 250px;
  height: 24px;
  border: 1px solid #333;
  padding: 0 0 0 10px;
}

#add-playlist .fieldset {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.preview {
  height: 70px;
  width: 140px;
}

#add-playlist legend {
  padding: 5px;
  border: 1px solid #333;
}

#add-playlist .fieldset label {
  padding: 0 20px 0 10px;
}

[name="cover-type"] ~ .cover,
#load-preview {
  display: none;
}

[value="url"]:checked ~ [name="cover-url"],
[value="url"]:checked ~ #load-preview {
  display: inline-block;
}

[value="file"]:checked ~ [name="cover-file"] {
  display: inline-block;
}

#load-preview {
  height: 17px;
  border: none;
  margin-left: 5px;
  width: 40px;
}

#add-playlist > button {
  margin: 20px auto 0;
  width: 100px;
  height: 30px;
}
